@import "tailwindcss";

@layer base {
  html, body {
    font-size: 24px;
    @apply dark:bg-neutral-950 text-neutral-900 dark:text-neutral-100;
    scroll-behavior: smooth;
  }

  @media (max-width: 1280px) {
    html, body {
      font-size: 20px;
    }
  }

  @media (max-width: 1024px) {
    html, body {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    html, body {
      font-size: 14px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-semibold;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  a {
    @apply text-blue-700 hover:text-blue-900 dark:text-blue-300 dark:hover:text-blue-200 transition;
  }

  [id] {
    scroll-margin-top: 80px;
  }
}

@layer components {
  .article {
    @apply text-neutral-900 dark:text-neutral-100;
  }

  .article p,
  .article li{
    line-height: 1.65;
  }

  .article pre {
    overflow-x: auto;
    border-radius: 0.4rem;
    padding: 1rem;
  }

  .article code {
    @apply text-sm;
  }

  /* Shiki syntax highlighting */
  @media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }

  .article table td,
  .article table th {
    @apply border-1 border-neutral-700/40 py-2 px-3 text-left text-sm;
  }

  .article table th {
    @apply font-medium;
  }

  .article table caption {
    caption-side: bottom;
    text-align: left;
    @apply mt-3 leading-6 text-xs;
  }
}
